/*//////////////////////////////////////////////////////////////////
[ FONT ]*/
@font-face {
  font-family: Eczar-Bold;
  src: url("../fonts/Eczar/Eczar-Bold.ttf"); }
@font-face {
  font-family: Eczar-ExtraBold;
  src: url("../fonts/Eczar/Eczar-ExtraBold.ttf"); }
@font-face {
  font-family: Eczar-Medium;
  src: url("../fonts/Eczar/Eczar-Medium.ttf"); }
@font-face {
  font-family: Eczar-Regular;
  src: url("../fonts/Eczar/Eczar-Regular.ttf"); }
@font-face {
  font-family: Eczar-SemiBold;
  src: url("../fonts/Eczar/Eczar-SemiBold.ttf"); }
@font-face {
  font-family: Poppins-Bold;
  src: url("../fonts/Poppins/Poppins-Bold.ttf"); }
@font-face {
  font-family: Poppins-Light;
  src: url("../fonts/Poppins/Poppins-Light.ttf"); }
@font-face {
  font-family: Poppins-Medium;
  src: url("../fonts/Poppins/Poppins-Medium.ttf"); }
@font-face {
  font-family: Poppins-Regular;
  src: url("../fonts/Poppins/Poppins-Regular.ttf"); }
@font-face {
  font-family: Poppins-SemiBold;
  src: url("../fonts/Poppins/Poppins-SemiBold.ttf"); }
@font-face {
  font-family: RobotoMono-Bold;
  src: url("../fonts/RobotoMono/RobotoMono-Bold.ttf"); }
@font-face {
  font-family: RobotoMono-BoldItalic;
  src: url("../fonts/RobotoMono/RobotoMono-BoldItalic.ttf"); }
@font-face {
  font-family: RobotoMono-Italic;
  src: url("../fonts/RobotoMono/RobotoMono-Italic.ttf"); }
@font-face {
  font-family: RobotoMono-Light;
  src: url("../fonts/RobotoMono/RobotoMono-Light.ttf"); }
@font-face {
  font-family: RobotoMono-LightItalic;
  src: url("../fonts/RobotoMono/RobotoMono-LightItalic.ttf"); }
@font-face {
  font-family: RobotoMono-Medium;
  src: url("../fonts/RobotoMono/RobotoMono-Medium.ttf"); }
@font-face {
  font-family: RobotoMono-MediumItalic;
  src: url("../fonts/RobotoMono/RobotoMono-MediumItalic.ttf"); }
@font-face {
  font-family: RobotoMono-Regular;
  src: url("../fonts/RobotoMono/RobotoMono-Regular.ttf"); }
@font-face {
  font-family: RobotoMono-Thin;
  src: url("../fonts/RobotoMono/RobotoMono-Thin.ttf"); }
@font-face {
  font-family: RobotoMono-ThinItalic;
  src: url("../fonts/RobotoMono/RobotoMono-ThinItalic.ttf"); }
/*//////////////////////////////////////////////////////////////////
[ COMMON ]*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html,
body {
  font-family: 'RobotoMono-Regular', 'Poppins-Regular', sans-serif;
  font-size: 12px;
  line-height: 1.43;
  color: #1E252C;
  background-color: #fff;
  scroll-behavior: smooth;
  transition: 1s; }

ul,
li {
  list-style-type: none; }

img {
  width: 100%;
  height: auto; }

a {
  color: inherit;
  text-decoration: none; }
  a:hover {
    color: inherit;
    text-decoration: none; }

@keyframes image-zoom {
  from {
    transform: scale(1); }
  to {
    transform: scale(1.1); } }
@keyframes zoom-in-text {
  from {
    font-size: 52px; }
  to {
    font-size: 80px; } }
@keyframes zoom-in-text-1024 {
  from {
    font-size: 30px; }
  to {
    font-size: 52px; } }
@keyframes zoom-in-text-mobile {
  from {
    font-size: 30px; }
  to {
    font-size: 40px; } }
@keyframes icon-move {
  from {
    transform: translateY(-15px); }
  to {
    transform: translateY(15px); } }
@keyframes increase-width {
  from {
    width: 0%; }
  to {
    width: 50%; } }
header {
  display: flex;
  justify-content: space-between;
  align-items: unset;
  flex-direction: row;
  z-index: 2; }
  header h6 {
    font-family: 'Poppins-Regular';
    font-size: 12px;
    text-transform: uppercase; }
  header .website {
    text-align: right;
    transition: 1s;
    text-transform: uppercase; }
    header .website .line {
      display: inline-block;
      width: 50%;
      height: 1px;
      background: #fff;
      margin: 5px 0; }
    header .website:hover {
      color: #F39F1B; }
  header.header-dark .website .line {
    display: inline-block;
    width: 50%;
    height: 1px;
    background: #1E252C;
    margin: 5px 0; }

@media screen and (max-width: 576px) {
  header h6 {
    display: none; } }
.hero-banner {
  width: 100%;
  height: 100vh;
  padding: 60px;
  background: #1E252C;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: unset;
  flex-direction: column;
  position: relative; }
  .hero-banner .banner-content {
    display: flex;
    justify-content: space-between;
    align-items: unset;
    flex-direction: row; }
    .hero-banner .banner-content .left {
      width: 60%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column; }
    .hero-banner .banner-content .right {
      width: 38%;
      transition: 2s;
      float: right; }
      .hero-banner .banner-content .right:hover img {
        transform: scale(0.9); }
  .hero-banner .heading-2 {
    font-family: 'Eczar-Bold';
    font-size: 80px;
    line-height: 80px; }
  .hero-banner .body-text {
    font-family: "RobotoMono-Regular";
    font-size: 18px;
    line-height: 32px;
    letter-spacing: unset;
    text-transform: unset;
    margin-left: 100px;
    margin-top: 50px; }
  .hero-banner .banner-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    padding-top: 30px; }

@media screen and (max-width: 1024px) {
  .hero-banner .heading-2 {
    font-size: 60px;
    line-height: 60px; } }
@media screen and (max-width: 576px) {
  .hero-banner {
    padding: 60px 30px;
    height: auto; }
    .hero-banner .heading-2 {
      font-size: 52px;
      line-height: 52px; }
    .hero-banner .banner-content {
      flex-direction: column; }
      .hero-banner .banner-content .left,
      .hero-banner .banner-content .right {
        width: 100%;
        margin-top: 20px; }
    .hero-banner .body-text {
      margin-top: 20px;
      margin-left: 30px; }
      .hero-banner .body-text br {
        display: none; }
    .hero-banner .social-icon,
    .hero-banner .stamp {
      display: none; }
    .hero-banner .banner-bottom {
      justify-content: center; } }
@media screen and (max-width: 375px) {
  .hero-banner .heading-2 {
    font-size: 49px;
    line-height: 49px; } }
.project-list {
  width: 100%;
  height: 100vh;
  padding: 60px;
  background: #fff;
  color: #1E252C;
  display: flex;
  justify-content: space-between;
  align-items: unset;
  flex-direction: column;
  position: relative; }
  .project-list .table-of-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row; }
    .project-list .table-of-content .left {
      width: 50%;
      margin-left: 15%; }
      .project-list .table-of-content .left h6 {
        font-family: "Poppins-Regular";
        font-size: 12px;
        line-height: 19px;
        letter-spacing: 3px;
        text-transform: uppercase;
        opacity: 0.3; }
      .project-list .table-of-content .left h3 {
        font-family: "Eczar-SemiBold";
        font-size: 52px;
        line-height: unset;
        letter-spacing: unset;
        text-transform: unset;
        transition: 1s; }
        .project-list .table-of-content .left h3:hover {
          color: #fff;
          -webkit-text-fill-color: #fff;
          -webkit-text-stroke-width: 1px;
          -webkit-text-stroke-color: #1E252C;
          animation: zoom-in-text 2s alternate infinite; }
      .project-list .table-of-content .left ul li {
        padding: 20px 0; }
        .project-list .table-of-content .left ul li a {
          display: flex;
          align-items: flex-start; }
      .project-list .table-of-content .left .number {
        display: inline-block;
        font-family: "Poppins-Regular";
        font-size: 12px;
        line-height: 19px;
        letter-spacing: 3px;
        text-transform: uppercase;
        transform: rotate(-90deg);
        position: relative;
        top: 15px;
        margin-right: 20px; }
    .project-list .table-of-content .right {
      width: 50%;
      margin-right: -60px; }
      .project-list .table-of-content .right img:hover {
        animation: image-zoom 2s linear 1; }

@media screen and (max-width: 1024px) {
  .project-list .table-of-content .left h3 {
    font-family: "Eczar-SemiBold";
    font-size: 30px;
    line-height: unset;
    letter-spacing: unset;
    text-transform: unset; }
    .project-list .table-of-content .left h3:hover {
      animation: zoom-in-text-1024 2s alternate infinite; }
  .project-list .table-of-content .left ul li {
    padding: 10px 0; }
  .project-list .table-of-content .left .number {
    top: 5px; } }
@media screen and (max-width: 576px) {
  .project-list {
    padding: 60px 30px;
    height: auto; }
    .project-list .table-of-content {
      flex-direction: column-reverse; }
      .project-list .table-of-content .left,
      .project-list .table-of-content .right {
        width: 100%; }
      .project-list .table-of-content .left h3:hover {
        animation: zoom-in-text-mobile 2s alternate infinite; }
      .project-list .table-of-content .right {
        margin: 30px 0; }
    .project-list .stamp {
      display: none; } }
.magazines-posters {
  width: 100%;
  height: 100vh;
  padding: 60px;
  background: #1E252C;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: unset;
  flex-direction: column;
  position: relative; }
  .magazines-posters .design-list ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row; }
    .magazines-posters .design-list ul li {
      width: 30%; }
      .magazines-posters .design-list ul li:hover .des {
        color: #F39F1B; }
        .magazines-posters .design-list ul li:hover .des hr {
          opacity: 1;
          visibility: visible;
          animation: increase-width 1s linear 1; }
      .magazines-posters .design-list ul li .des {
        text-align: center;
        padding: 20px 0;
        font-family: "Poppins-SemiBold";
        font-size: 26px;
        line-height: 38px;
        letter-spacing: 0.5px;
        text-transform: unset;
        transition: 1s; }
        .magazines-posters .design-list ul li .des .icon-arrow {
          margin-left: 30px; }
        .magazines-posters .design-list ul li .des hr {
          width: 50%;
          height: 1px;
          background: #fff;
          margin: 10px auto;
          opacity: 0;
          visibility: hidden;
          transition: 1s; }

@media screen and (max-width: 768px) {
  .magazines-posters .design-list ul li .des {
    font-family: "Poppins-SemiBold";
    font-size: 18px;
    line-height: 38px;
    letter-spacing: 0.5px;
    text-transform: unset; }
    .magazines-posters .design-list ul li .des .icon-arrow {
      width: 30px; } }
@media screen and (max-width: 576px) {
  .magazines-posters {
    padding: 60px 30px;
    height: auto; }
    .magazines-posters .design-list ul {
      flex-direction: column; }
      .magazines-posters .design-list ul li {
        width: 100%;
        margin-top: 30px; } }
.landing-pages {
  width: 100%;
  height: 100vh;
  padding: 60px;
  background: #fff;
  color: #1E252C;
  display: flex;
  justify-content: space-between;
  align-items: unset;
  flex-direction: column;
  position: relative;
  overflow: hidden; }
  .landing-pages .content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: row; }
    .landing-pages .content .left {
      width: 50%;
      margin-left: -60px; }
      .landing-pages .content .left .landing3 {
        display: none; }
      .landing-pages .content .left .des {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row;
        padding: 20px 0; }
        .landing-pages .content .left .des h6 {
          margin-left: 60px; }
    .landing-pages .content .right {
      width: 50%;
      height: 100%;
      margin-right: -45%; }
  .landing-pages .title {
    position: absolute;
    text-align: right;
    top: 35%;
    left: 40%; }
    .landing-pages .title h2 {
      font-family: "Eczar-Bold";
      font-size: 120px;
      line-height: 105px;
      letter-spacing: unset;
      text-transform: unset; }
      .landing-pages .title h2 span {
        color: transparent;
        -webkit-text-fill-color: transparent;
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: #1E252C; }
      .landing-pages .title h2 a {
        font-family: "Poppins-Regular";
        font-size: 12px;
        line-height: 19px;
        letter-spacing: 3px;
        text-transform: uppercase;
        margin-right: -140px; }
    .landing-pages .title .see-more {
      display: inline-block;
      border-bottom: 1px solid #1E252C; }

@media screen and (max-width: 1024px) {
  .landing-pages .title {
    left: 35%; }
    .landing-pages .title h2 {
      font-family: "Eczar-Bold";
      font-size: 80px;
      line-height: 105px;
      letter-spacing: unset;
      text-transform: unset; } }
@media screen and (max-width: 768px) {
  .landing-pages .title {
    left: 28%; } }
@media screen and (max-width: 572px) {
  .landing-pages {
    padding: 60px 30px; }
    .landing-pages .content {
      flex-direction: column; }
      .landing-pages .content .left,
      .landing-pages .content .right {
        width: 100%; }
      .landing-pages .content .left {
        margin-left: 0; }
        .landing-pages .content .left .landing1 {
          display: none; }
        .landing-pages .content .left .landing3 {
          display: block; }
        .landing-pages .content .left .des h6 {
          margin-left: 0; }
      .landing-pages .content .right {
        position: absolute;
        left: 0;
        bottom: 0; }
    .landing-pages .title {
      left: 0; }
      .landing-pages .title h2 {
        font-family: "Eczar-Bold";
        font-size: 80px;
        line-height: 80px;
        letter-spacing: unset;
        text-transform: unset; }
        .landing-pages .title h2 span {
          color: #fff;
          -webkit-text-fill-color: #fff;
          -webkit-text-stroke-width: 1px;
          -webkit-text-stroke-color: #1E252C; }
        .landing-pages .title h2 a {
          margin-right: -100px;
          color: #fff; }
      .landing-pages .title .see-more {
        border-bottom: 1px solid #fff; }
    .landing-pages .only-menu-left {
      display: none; } }
.photos-branding {
  width: 100%;
  height: 100vh;
  padding: 60px;
  background: #1E252C;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: unset;
  flex-direction: column;
  position: relative;
  overflow: hidden; }
  .photos-branding .photo-slide {
    display: flex;
    margin: 0 auto;
    position: relative; }
    .photos-branding .photo-slide .photography {
      font-family: "Poppins-Regular";
      font-size: 12px;
      line-height: 19px;
      letter-spacing: 3px;
      text-transform: uppercase;
      transform: rotate(-90deg);
      position: absolute;
      top: 10%;
      left: -20%; }
    .photos-branding .photo-slide .count {
      position: absolute;
      bottom: -5%;
      left: 50%;
      transform: translate(-50%, 0); }
    .photos-branding .photo-slide #splide {
      margin: 0 auto;
      position: relative; }
      .photos-branding .photo-slide #splide .splide__arrows {
        position: absolute;
        bottom: 45px;
        right: -30px;
        transform: rotate(90deg); }
        .photos-branding .photo-slide #splide .splide__arrows .splide__arrow {
          background: none;
          font-family: "Poppins-Regular";
          font-size: 12px;
          line-height: 19px;
          letter-spacing: 3px;
          text-transform: uppercase;
          color: #fff; }
          .photos-branding .photo-slide #splide .splide__arrows .splide__arrow.splide__arrow--next {
            margin-right: 30px; }
  .photos-branding .title h2 {
    font-family: "Eczar-Bold";
    font-size: 120px;
    line-height: 105px;
    letter-spacing: unset;
    text-transform: unset;
    position: absolute; }
    .photos-branding .title h2.main {
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      white-space: nowrap; }
    .photos-branding .title h2.think, .photos-branding .title h2.big {
      color: transparent;
      -webkit-text-fill-color: transparent;
      -webkit-text-stroke-width: 1px;
      -webkit-text-stroke-color: #fff; }
    .photos-branding .title h2.think {
      top: 50%;
      left: 0;
      transform: translate(-50%, -50%); }
    .photos-branding .title h2.big {
      top: 50%;
      right: 0;
      transform: translate(20%, -50%); }

@media screen and (max-width: 1024px) {
  .photos-branding .title h2 {
    font-family: "Eczar-Bold";
    font-size: 80px;
    line-height: 105px;
    letter-spacing: unset;
    text-transform: unset; } }
@media screen and (max-width: 768px) {
  .photos-branding .title h2 {
    font-family: "Eczar-Bold";
    font-size: 60px;
    line-height: 105px;
    letter-spacing: unset;
    text-transform: unset; } }
@media screen and (max-width: 576px) {
  .photos-branding {
    padding: 60px 30px;
    height: auto; }
    .photos-branding .photo-slide #splide .splide__slide {
      max-width: 86% !important; }
    .photos-branding .photo-slide .splide__pagination {
      display: none; }
    .photos-branding .photo-slide .count {
      transform: translate(-80%, 0); }
    .photos-branding .photo-slide .photography {
      display: none; }
    .photos-branding .title h2 {
      font-family: "Eczar-Bold";
      font-size: 35px;
      line-height: 105px;
      letter-spacing: unset;
      text-transform: unset; }
    .photos-branding .stamp {
      display: none; }
    .photos-branding .only-menu-left {
      padding-top: 50px; } }
@media screen and (max-width: 375px) {
  .photos-branding {
    padding: 60px 30px;
    height: auto;
    overflow: hidden; }
    .photos-branding .photo-slide #splide .splide__slide {
      max-width: 78% !important; }
    .photos-branding .photo-slide .splide__pagination {
      display: none; }
    .photos-branding .photo-slide .count {
      transform: translate(-90%, 0); }
    .photos-branding .title h2 {
      font-size: 45px;
      line-height: 45px; }
      .photos-branding .title h2.main {
        white-space: normal;
        text-align: center; } }
.services {
  width: 100%;
  height: 100vh;
  padding: 60px;
  background: #1E252C;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: unset;
  flex-direction: column;
  position: relative; }
  .services .content {
    display: flex;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row; }
    .services .content .left {
      width: 40%;
      margin: 0 auto; }
      .services .content .left img {
        width: 70%; }
    .services .content .center {
      width: 50%;
      margin-left: -15%; }
      .services .content .center .title {
        font-family: "Eczar-Bold";
        font-size: 120px;
        line-height: 105px;
        letter-spacing: unset;
        text-transform: unset;
        color: transparent;
        -webkit-text-fill-color: transparent;
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: #fff; }
      .services .content .center .position {
        margin-left: 100px;
        margin-top: 10%; }
        .services .content .center .position h5 {
          font-family: "Poppins-SemiBold";
          font-size: 26px;
          line-height: 38px;
          letter-spacing: 0.5px;
          text-transform: unset;
          padding: 10px 0; }
        .services .content .center .position p {
          font-family: "RobotoMono-Regular";
          font-size: 18px;
          line-height: 30px;
          letter-spacing: unset;
          text-transform: unset; }
    .services .content .right .social-icon {
      display: flex;
      justify-content: space-between;
      align-items: unset;
      flex-direction: column; }
      .services .content .right .social-icon a {
        padding: 10px 0; }

@media screen and (max-width: 1024px) {
  .services .content .center .title {
    font-family: "Eczar-Bold";
    font-size: 80px;
    line-height: 105px;
    letter-spacing: unset;
    text-transform: unset; } }
@media screen and (max-width: 768px) {
  .services .content .center .position {
    margin-left: 10px; } }
@media screen and (max-width: 576px) {
  .services {
    padding: 60px 30px;
    height: auto; }
    .services .content {
      flex-direction: column; }
      .services .content .left img {
        width: 100%; }
      .services .content .left,
      .services .content .center {
        width: 100%; }
      .services .content .center {
        margin-left: 0;
        margin-top: 50px; }
        .services .content .center .position p {
          font-size: 12px; }
      .services .content .right .social-icon {
        flex-direction: row; }
        .services .content .right .social-icon a {
          padding: 20px 10px; }
    .services .stamp {
      display: none; } }
.about-me {
  width: 100%;
  height: 100vh;
  padding: 60px;
  background: #fff;
  color: #1E252C;
  display: flex;
  justify-content: space-between;
  align-items: unset;
  flex-direction: column;
  position: relative; }
  .about-me .bg-grey {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 50%;
    background: #F0F0F0;
    z-index: 0; }
  .about-me .content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    z-index: 2; }
    .about-me .content .left {
      margin: 0 auto;
      text-align: left;
      position: relative; }
      .about-me .content .left h6 {
        transform: rotate(-90deg);
        position: absolute;
        left: -10%;
        top: 10px; }
    .about-me .content .social-icon {
      text-align: right;
      padding: 20px 0; }
      .about-me .content .social-icon a:last-child {
        padding-right: 0; }
  .about-me .right {
    width: 50%;
    font-family: "RobotoMono-Regular";
    font-size: 14px;
    line-height: 28px;
    letter-spacing: unset;
    text-transform: unset;
    color: #4A4A4A;
    padding: 100px 80px 100px 150px; }
  .about-me .name-title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-90deg);
    font-family: "Eczar-Bold";
    font-size: 80px;
    line-height: 115px;
    letter-spacing: unset;
    text-transform: unset;
    color: transparent;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #1E252C; }

@media screen and (min-width: 1920px) {
  .about-me .right {
    padding: 100px 100px 100px 200px; } }
@media screen and (max-width: 1024px) {
  .about-me .right {
    padding: 50px 0 50px 80px; } }
@media screen and (max-width: 768px) {
  .about-me .content .left img {
    width: 80%; }
  .about-me .content .left .social-icon {
    margin-right: 70px; }
  .about-me .name-title {
    font-family: "Eczar-Bold";
    font-size: 60px;
    line-height: 115px;
    letter-spacing: unset;
    text-transform: unset; }
  .about-me .right {
    padding: 50px 0 50px 50px; } }
@media screen and (max-width: 576px) {
  .about-me {
    padding: 60px 30px;
    height: auto; }
    .about-me .bg-grey {
      display: none; }
    .about-me .content {
      flex-direction: column; }
      .about-me .content .left h6 {
        display: none; }
      .about-me .content .left img {
        width: 100%; }
      .about-me .content .left .social-icon {
        margin-right: 0; }
      .about-me .content .right {
        width: 100%;
        padding: 30px 0;
        text-align: justify; }
    .about-me .name-title {
      display: none; } }
.contact-me {
  width: 100%;
  height: 100vh;
  padding: 60px;
  background: #1E252C;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row; }
  .contact-me .left {
    width: 40%;
    text-align: right; }
    .contact-me .left h2 {
      font-family: "Eczar-Bold";
      font-size: 120px;
      line-height: 105px;
      letter-spacing: unset;
      text-transform: unset;
      color: transparent;
      -webkit-text-fill-color: transparent;
      -webkit-text-stroke-width: 1px;
      -webkit-text-stroke-color: #fff;
      transform: rotate(-90deg);
      padding-right: 100px; }
  .contact-me .right {
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: unset;
    flex-direction: column; }
    .contact-me .right .des {
      font-family: "RobotoMono-Regular";
      font-size: 22px;
      line-height: 35px;
      letter-spacing: unset;
      text-transform: unset;
      width: 40%;
      padding: 100px 0; }
    .contact-me .right .info {
      padding: 50px 0; }
      .contact-me .right .info h6 {
        font-family: "Poppins-Regular";
        font-size: 14px;
        line-height: 23px;
        letter-spacing: 6px;
        text-transform: uppercase; }
      .contact-me .right .info .details {
        font-family: "Poppins-Regular";
        font-size: 50px;
        line-height: 82px;
        letter-spacing: unset;
        text-transform: unset; }
      .contact-me .right .info .social-icon {
        padding-top: 23px; }

@media screen and (max-width: 1024px) {
  .contact-me .left h2 {
    font-family: "Eczar-Bold";
    font-size: 80px;
    line-height: 105px;
    letter-spacing: unset;
    text-transform: unset; }
  .contact-me .right .des {
    font-family: "RobotoMono-Regular";
    font-size: 18px;
    line-height: 35px;
    letter-spacing: unset;
    text-transform: unset;
    width: 70%;
    padding: 10px 0; }
  .contact-me .right .info .details {
    font-family: "Poppins-Regular";
    font-size: 30px;
    line-height: 52px;
    letter-spacing: unset;
    text-transform: unset; } }
@media screen and (max-width: 576px) {
  .contact-me {
    padding: 60px 30px;
    height: auto;
    flex-direction: column;
    overflow: hidden; }
    .contact-me .left,
    .contact-me .right {
      width: 100%; }
    .contact-me .left h2 {
      transform: none;
      padding-right: 0;
      text-align: left;
      line-height: 80px; }
    .contact-me .right {
      margin-top: 50px; }
      .contact-me .right .des {
        width: 100%; } }
@media screen and (max-width: 576px) and (max-width: 375px) {
  .contact-me .right .info .details {
    font-size: 25px; } }
footer {
  padding: 50px 0;
  text-align: center;
  background: #F0F0F0; }
  footer .logo {
    font-size: 40px; }
  footer .menu {
    padding: 15px 0; }

/* ==========================================================================
Icons Style
========================================================================== */
.social-icon a {
  padding-right: 10px; }
  .social-icon a svg {
    transition: 1s; }
  .social-icon a:hover svg {
    color: #F39F1B; }

.scroll-icon {
  position: absolute;
  left: 49%;
  bottom: 50px;
  animation: icon-move 2s alternate infinite; }
  .scroll-icon svg {
    width: 50px;
    height: 50px;
    transition: 1s; }
  .scroll-icon:hover svg {
    color: #F39F1B; }
  .scroll-icon.on-bg-light {
    color: #1E252C; }

.icon-arrow {
  display: inline-block;
  width: 60px; }

.icon-arrow-small {
  display: inline-block;
  width: 20px; }

/* ==========================================================================
Menu
========================================================================== */
.menu a {
  font-family: "Poppins-Regular";
  font-size: 12px;
  line-height: 19px;
  letter-spacing: 3px;
  text-transform: uppercase;
  transition: 1s; }
  .menu a:hover {
    color: #F39F1B; }
.menu .line {
  display: inline-block;
  width: 50px;
  height: 1px;
  background: #fff;
  margin: 5px 0; }
.menu.on-bg-light .line {
  background: #1E252C; }

.line {
  display: inline-block;
  width: 50px;
  height: 1px;
  background: #fff;
  margin: 5px 0; }
  .line.on-bg-light {
    background: #1E252C; }

.only-menu-left {
  display: flex;
  justify-content: flex-end;
  align-items: unset;
  flex-direction: row; }

/* ==========================================================================
Stamp Project for Study
========================================================================== */
.stamp {
  font-family: "Poppins-Regular";
  font-size: 12px;
  line-height: 19px;
  letter-spacing: 3px;
  text-transform: uppercase;
  transform: rotate(-90deg);
  position: absolute;
  left: 0;
  top: 50%; }
  .stamp.end {
    top: unset;
    bottom: 15%; }

/* ==========================================================================
Subcribe
========================================================================== */
.subscribe {
  padding: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row; }
  .subscribe h3 {
    font-family: "Eczar-Bold";
    font-size: 80px;
    line-height: 142px;
    letter-spacing: unset;
    text-transform: unset; }
    .subscribe h3 span {
      color: transparent;
      -webkit-text-fill-color: transparent;
      -webkit-text-stroke-width: 1px;
      -webkit-text-stroke-color: #1E252C; }
  .subscribe .btn-subscribe {
    background: transparent;
    border: solid 1px #1E252C;
    padding: 15px 50px;
    margin: 0 20px;
    font-family: "Poppins-Regular";
    font-size: 12px;
    line-height: 19px;
    letter-spacing: 3px;
    text-transform: uppercase;
    transition: 1s; }
    .subscribe .btn-subscribe:hover {
      background: #1E252C;
      color: #fff; }
    .subscribe .btn-subscribe:focus {
      outline: none; }

/* ==========================================================================
logo
========================================================================== */
.logo {
  font-size: 14px; }
  .logo .name {
    color: #F39F1B; }

/* ==========================================================================
Responsive
========================================================================== */
@media screen and (max-width: 1024px) {
  .stamp {
    left: -2%; }

  .subscribe h3 {
    font-family: "Eczar-Bold";
    font-size: 52px;
    line-height: 142px;
    letter-spacing: unset;
    text-transform: unset; } }
@media screen and (max-width: 768px) {
  .stamp {
    top: 60%; }

  .menu a {
    font-family: "Poppins-Regular";
    font-size: 10px;
    line-height: 19px;
    letter-spacing: 3px;
    text-transform: uppercase; }
  .menu .line {
    width: 25px;
    margin: 3px 0; }

  .subscribe h3 {
    font-family: "Eczar-Bold";
    font-size: 30px;
    line-height: 142px;
    letter-spacing: unset;
    text-transform: unset; } }
@media screen and (max-width: 576px) {
  .scroll-icon {
    display: none; }

  .only-menu-left {
    justify-content: center; }

  .subscribe {
    padding: 60px 30px;
    flex-direction: column;
    align-items: flex-start; }
    .subscribe h3 {
      font-family: "Eczar-Bold";
      font-size: 60px;
      line-height: 70px;
      letter-spacing: unset;
      text-transform: unset; }
    .subscribe .btn-subscribe {
      margin-left: 0; } }

/*# sourceMappingURL=index.css.map */
