/* ==========================================================================
Icons Style
========================================================================== */
.social-icon {
	a {
		padding-right: 10px;

		svg {
			transition: 1s;
		}

		&:hover svg {
			color: $color-orange-0;
		}
	}
}

.scroll-icon {
	position: absolute;
	left: 49%;
	bottom: 50px;
	animation: icon-move 2s alternate infinite;

	svg {
		width: 50px;
		height: 50px;
		transition: 1s;
	}

	&:hover svg {
		color: $color-orange-0;
	}

	&.on-bg-light {
		color: $color-dark-0;
	}
}

.icon-arrow {
	display: inline-block;
	width: 60px;
}

.icon-arrow-small {
	display: inline-block;
	width: 20px;
}

/* ==========================================================================
Menu
========================================================================== */
.menu {
	a {
		@include text-style('Poppins-Regular', $fs-12, 19px, 3px, uppercase);

		transition: 1s;

		&:hover {
			color: $color-orange-0;
		}
	}

	.line {
		display: inline-block;
		width: 50px;
		height: 1px;
		background: $color-light-0;
		margin: 5px 0;
	}

	&.on-bg-light {
		.line {
			background: $color-dark-0;
		}
	}
}

.line {
	display: inline-block;
	width: 50px;
	height: 1px;
	background: $color-light-0;
	margin: 5px 0;

	&.on-bg-light {
		background: $color-dark-0;
	}
}

.only-menu-left {
	@include d-flex(row, flex-end, unset);
}

/* ==========================================================================
Stamp Project for Study
========================================================================== */
.stamp {
	@include text-style('Poppins-Regular', $fs-12, 19px, 3px, uppercase);
	transform: rotate(-90deg);
	position: absolute;
	left: 0;
	top: 50%;

	&.end {
		top: unset;
		bottom: 15%;
	}
}

/* ==========================================================================
Subcribe
========================================================================== */
.subscribe {
	padding: $pd-60;
	@include d-flex(row, center, center);

	h3 {
		@include text-style('Eczar-Bold', $fs-80, 142px, unset, unset);

		span {
			@include text-stroke(transparent, transparent, 1px, $color-dark-0);
		}
	}

	.btn-subscribe {
		background: transparent;
		border: solid 1px $color-dark-0;
		padding: 15px 50px;
		margin: 0 20px;
		@include text-style('Poppins-Regular', $fs-12, 19px, 3px, uppercase);
		transition: 1s;

		&:hover {
			background: $color-dark-0;
			color: $color-light-0;
		}

		&:focus {
			outline: none;
		}
	}
}

/* ==========================================================================
logo
========================================================================== */
.logo {
	font-size: $fs-14;

	.name {
		color: $color-orange-0;
	}
}

@media screen and (max-width: 1024px) {
	.stamp {
		left: -2%;
	}

	.subscribe {
		h3 {
			@include text-style('Eczar-Bold', $fs-52, 142px, unset, unset);
		}
	}
}

@media screen and (max-width: 768px) {
	.stamp {
		top: 60%;
	}

	.menu {
		a {
			@include text-style('Poppins-Regular', $fs-10, 19px, 3px, uppercase);
		}

		.line {
			width: 25px;
			margin: 3px 0;
		}
	} 

	.subscribe {
		h3 {
			@include text-style('Eczar-Bold', $fs-30, 142px, unset, unset);
		}
	}
}