.contact-me {
	@include section-style($color-dark-0, $color-light-0, $pd-60);
	@include d-flex(row, space-between, center);

	.left {
		width: 40%;
		text-align: right;

		h2 {
			@include text-style('Eczar-Bold', $fs-120, 105px, unset, unset);
			@include text-stroke(transparent, transparent, 1px, $color-light-0);
			transform: rotate(-90deg);
			padding-right: 100px;
		}
	}

	.right {
		width: 60%;
		@include d-flex(column, space-between, unset);

		.des {
			@include text-style('RobotoMono-Regular', 22px, 35px, unset, unset);
			width: 41%;
			padding: 100px 0;
		}

		.info {
			padding: 50px 0;

			h6 {
				@include text-style('Poppins-Regular', 14px, 23px, 6px, uppercase);
			}

			.details {
				@include text-style('Poppins-Regular', 50px, 82px, unset, unset);
			}

			.social-icon {
				padding-top: 23px;
			}
		}
	}
}

@media screen and (max-width: 1024px) {
	.contact-me {
		.left {
			h2 {
				@include text-style('Eczar-Bold', $fs-80, 105px, unset, unset);
			}
		}

		.right {
			.des {
				@include text-style('RobotoMono-Regular', $fs-18, 35px, unset, unset);
				width: 70%;
				padding: 10px 0;
			}

			.info {
				.details {
					@include text-style('Poppins-Regular', $fs-30, $fs-52, unset, unset);
				}
			}
		}
	}
}

@media screen and (max-width: 576px) {
	.contact-me {
		@include section-mobile;
		flex-direction: column;
		overflow: hidden;

		.left,
		.right {
			width: 100%;
		}

		.left {
			h2 {
				transform: none;
				padding-right: 0;
				text-align: left;
				line-height: 80px;
			}
		}

		.right {
			margin-top: 50px;

			.des {
				width: 100%;
			}
		}
	}

	@media screen and (max-width: 375px) {
		.contact-me {
			.right {
				.info {
					.details {
						font-size: 25px;
					}
				}
			}
		}
	}
}