header {
	@include d-flex(row, space-between, center);
	

	h6 {
		font-family: 'Poppins-Regular';
		font-size: $fs-12;
		text-transform: uppercase;
	}

	.logo {
		font-size: $fs-14;

		.name {
			color: $color-orange-0;
		}
	}

	.website {
		text-align: right;
		transition: 1s;
		text-transform: uppercase;

		.line {
			display: inline-block;
			width: 50%;
			height: 1px;
			background: $color-light-0;
			margin: 5px 0;
		}

		&:hover {
			color: $color-orange-0;
		}
	}

	&.header-dark {
		.website {
			.line {
				display: inline-block;
				width: 50%;
				height: 1px;
				background: $color-dark-0;
				margin: 5px 0;
			}
		}
	}
}