.hero-banner {
	@include section-style($color-dark-0, $color-light-0, $pd-60);
	@include d-flex(column, space-between, unset);
	position: relative;

	.banner-content {
		@include d-flex(row, space-between, unset);

		.left {
			width: 60%;
			@include d-flex(column, center, center);
		}

		.right {
			width: 38%;
			transition: 2s;
			float: right;

			&:hover img {
				transform: scale(0.9);
			}
		}
	}

	.heading-2 {
		font-family: 'Eczar-Bold';
		font-size: $fs-80;
		line-height: 80px;
	}

	.body-text {
		@include text-style('RobotoMono-Regular', 18px, 32px, unset, unset);
		margin-left: 100px;
		margin-top: 50px;
	}

	.banner-bottom {
		@include d-flex(row, space-between, center);
		padding-top: 30px;
	}
}

@media screen and (max-width: 1024px) {
	.hero-banner {
		.heading-2 {
			font-size: 60px;
			line-height: 60px;
		}
	}
}

// @media screen and (max-width: 768px) {
// 	.hero-banner {
// 		.heading-2 {
// 			font-size: 60px;
// 			line-height: 60px;
// 		}
// 	}
// }

@media screen and (max-width: 576px) {
	.hero-banner {
		padding: 60px 30px;
		height: auto;

		.heading-2 {
			font-size: $fs-52;
			line-height: $fs-52;
		}

		.banner-content {
			flex-direction: column;

			.left,
			.right {
				width: 100%;
				margin-top: 20px;
			}
		}

		.body-text {
			margin-top: 20px;
			margin-left: 30px;

			br {
				display: none;
			}
		}

		.social-icon,
		.stamp {
			display: none;
		}

		.banner-bottom {
			justify-content: center;
		}
	}
}