.landing-pages {
	@include section-style($color-light-0, $color-dark-0, $pd-60);
	@include d-flex(column, space-between, unset);
	position: relative;
	overflow: hidden;

	.content {
		@include d-flex(row, space-between, flex-start);

		.left {
			width: 50%;
			margin-left: -$pd-60;

			.landing3 {
				display: none; //only display on mobile
			}

			.des {
				@include d-flex(row, space-between, center);
				padding: 20px 0;

				h6 {
					margin-left: $pd-60;
				}
			}

		}

		.right {
			width: 50%;
			height: 100%;
			margin-right: -45%;
		}
	}

	.title {
		position: absolute;
		text-align: right;
		top: 35%;
		left: 40%;

		h2 {
			@include text-style('Eczar-Bold', $fs-120, 105px, unset, unset);

			span {
				@include text-stroke(transparent, transparent, 1px, $color-dark-0);
			}

			a {
				@include text-style('Poppins-Regular', $fs-12, 19px, 3px, uppercase);
				margin-right: -140px;
			}
		}

		.see-more {
			display: inline-block;
			border-bottom: 1px solid $color-dark-0;
		}
	}
}

@media screen and (max-width: 1024px) {
	.landing-pages {
		.title {
			left: 35%;

			h2 {
				@include text-style('Eczar-Bold', $fs-80, 105px, unset, unset);
			}
		}
	}
}

@media screen and (max-width: 768px) {
	.landing-pages {
		.title {
			left: 28%;
		}
	}
}

@media screen and (max-width: 572px) {
	.landing-pages {
		padding: 60px 30px;


		.content {
			flex-direction: column;

			.left,
			.right {
				width: 100%;
			}

			.left {
				margin-left: 0;

				.landing1 {
					display: none;
				}

				.landing3 {
					display: block;
				}

				.des {
					h6 {
						margin-left: 0;
					}
				}
			}

			.right {
				position: absolute;
				left: 0;
				bottom: 0;
			}
		}

		.title {
			left: 0;

			h2 {
				@include text-style('Eczar-Bold', $fs-80, 80px, unset, unset);

				span {
					@include text-stroke($color-light-0, $color-light-0, 1px, $color-dark-0);
				}

				a {
					margin-right: -100px;
					color: $color-light-0;
				}
			}

			.see-more {
				border-bottom: 1px solid $color-light-0;
			}
		}

		.only-menu-left {
			display: none;
		}
	}
}