.services {
	@include section-style($color-dark-0, $color-light-0, $pd-60);
	@include d-flex(column, space-between, unset);
	position: relative;

	.content {
		display: flex;
		@include d-flex(row, space-between, center);

		.left {
			width: 40%;
			margin: 0 auto;

			img {
				width: 70%;
			}
		}

		.center {
			width: 50%;
			margin-left: -15%;

			.title {
				@include text-style('Eczar-Bold', $fs-120, 105px, unset, unset);
				@include text-stroke(transparent, transparent, 1px, $color-light-0);
			}

			.position {
				margin-left: 100px;
				margin-top: 10%;

				h5 {
					@include text-style('Poppins-SemiBold', 26px, 38px, 0.5px, unset);
					padding: 10px 0
				}

				p {
					@include text-style('RobotoMono-Regular', 18px, 30px, unset, unset);
				}
			}
		}

		.right {
			.social-icon {
				@include d-flex(column, space-between, unset);

				a {
					padding: 10px 0;
				}
			}
		}
	}
}

@media screen and (max-width: 1024px) {
	.services {
		.content {
			.center {
				.title {
					@include text-style('Eczar-Bold', $fs-80, 105px, unset, unset);
				}
			}
		}
	}
}

@media screen and (max-width: 768px) {
	.services {
		.content {
			.center {
				.position {
					margin-left: 10px;
				}
			}
		}
	}
}

@media screen and (max-width: 576px) {
	.services {
		@include section-mobile;

		.content {
			flex-direction: column;

			.left {
				img {
					width: 100%;
				}
			}

			.left,
			.center {
				width: 100%;
			}

			.center {
				margin-left: 0;
				margin-top: 50px;

				.position {
					p {
						font-size: 12px;
					}
				}
			}

			.right {
				.social-icon {
					flex-direction: row;

					a {
						padding: 20px 10px;
					}
				}
			}
		}

		.stamp {
			display: none;
		}
	}
}