// variable color
$color-dark-0: #1E252C; // default
$color-light-0: #fff; //default
$color-orange-0:#F39F1B;
$color-grey-0:#F0F0F0;

// variable font-size
$fs-12: 12px; //default
$fs-14: 14px;
$fs-18: 18px;
$fs-52: 52px;
$fs-80: 80px;

//variable margin
$mg-0: 2px;
$mg-1: 10px;
$mg-2: 25px;

//variable border-radius
$border-radius: 2px;

//variable padding
$pd-60: 60px;


//variable line-height
$line-height-0: 1.43; //default


//variable font-weight
$fw-normal: normal;
$fw-bold-0: 600;
$fw-bold-1: 700;
$fw-bold: bold;


//break points
$breakpoints:('extra-large': 1200px,
	'large' : 992px,
	'medium' : 768px,
	'small' : 576px,
)